/* @FontFace {
  font-family : 'CityofEmber';
  src:url('city-of-ember-webfont.woff') format('woff'),
  url('city-of-ember-webfont.woff2') format ('woff2')
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI' ,'MetropolisNF','Roboto', 
  'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  'Metropolis','City of Ember',"CityofEmber", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro'Metropolis','City of Ember',"CityofEmber", Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'City of Ember';
  src: url(../src/assests/fonts/CityOfEmber.ttf);

  /* font-family: 'Metropolis';
  src : url(../src/assests/fonts/Metropolis-Medium.ttf) */
}

@font-face {

  font-family: 'Metropolis';
  src : url(../src/assests/fonts/Metropolis-Medium.ttf)
}